.app-background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -99;

  .blurred-circle {
    height: var(--size);
    width: var(--size);
    position: fixed;
    border-radius: 50%;

    top: calc(var(--off-y) - var(--size) / 2);
    left: calc(var(--off-x) - var(--size) / 2);

    background: var(--color);
    opacity: .3;
    filter: blur(60px);
    scale: var(--max-scale);

    animation: breathe var(--time) ease-in-out infinite alternate both;
  }
}

@keyframes breathe {
  to {
    scale: 1;
  }
}