.duplicate-btn {
  --size: 40px;
  height: var(--size);
  width: var(--size);
  align-self: center;
  border-radius: 50%;
  background: #0f0f0f;
  border: 1px solid #333;
  cursor: pointer;
  transition: background .15s ease, scale .3s ease;

  &:hover {
    background: #161616;

    &>svg {
      color: #fff;
    }
  }

  &:active {
    scale: .9;
    background: #000;

    &>svg {
      color: #bbb;
    }
  }


  &>svg {
    --size: 60%;
    height: var(--size);
    width: var(--size);
    color: #bbb;
    stroke-width: 1.4;
    transition: color .15s ease;
  }
}