.element-optns-btns {
  --btns-size: 40px;
  pointer-events: none;

  .delete-btn,
  .duplicate-btn {
    height: var(--btns-size);
    width: var(--btns-size);
    align-self: center;
    border-radius: 50%;
    background: #0f0f0f;
    border: 1px solid #333;
    cursor: pointer;
    pointer-events: all;
    transition: background .15s ease, scale .3s ease;

    &:hover {
      background: #161616;

      svg {
        color: #fff;
      }
    }

    &:active {
      scale: .9;
      background: #000;

      svg {
        color: #bbb;
      }
    }


    svg {
      --size: 60%;
      height: var(--size);
      width: var(--size);
      color: #bbb;
      stroke-width: 1.4;
      transition: color .15s ease;
    }
  }
}