.point {
  width: 300px;
  height: auto;
  position: absolute;
  --timeline-p: 14px;
  left: 50%;
  translate: -50% calc(var(--timeline-p) + var(--timeline-height) * 2);
  display: flex;
  flex-direction: column;
  --bg-color: #252525;
  gap: 10px;
  user-select: none;

  &::before {
    content: '';
    background: var(--bg-color);
    --arrow-size: 20px;
    width: var(--arrow-size);
    height: var(--arrow-size);
    position: absolute;
    left: 50%;
    translate: -50% -50%;
    rotate: 45deg;
    z-index: -1;
  }

  &:not(.on-bottom) {
    translate: -50% calc(-100% - var(--timeline-height) - var(--timeline-p));
    flex-direction: column-reverse;

    &::before {
      translate: -50% 50%;
    }
  }

  &>.title,
  &>.desc {
    padding: calc(var(--p) * 1.25) var(--p);
    border-radius: var(--p);
    background: var(--bg-color);
    font-style: normal;
    line-height: normal;
    font-family: Inter;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
  }

  &>.title {
    color: #FFF;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    min-height: 48px;
  }

  &>.desc {
    color: #AFAFAF;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
  }

  &>.image-wrapper {
    padding: var(--p);
    border-radius: var(--p);
    background: var(--bg-color);
    width: 100%;

    &>.image {
      width: 100%;
      border-radius: var(--p);
      object-fit: cover;
    }
  }
}