.point {
  width: 310px;
  height: auto;
  position: absolute;
  --timeline-p: 10px;
  left: 50%;
  translate: -50% calc(var(--timeline-p) + var(--timeline-height) * 2);
  display: flex;
  flex-direction: column;
  --bg-color: #252525;
  gap: var(--timeline-p);
  user-select: none;
  cursor: pointer;

  &::before {
    content: '';
    background: var(--bg-color);
    --arrow-size: 20px;
    width: var(--arrow-size);
    height: var(--arrow-size);
    position: absolute;
    left: 50%;
    translate: -50% -50%;
    rotate: 45deg;
    z-index: -1;
  }

  &:not(.on-bottom) {
    translate: -50% calc(-100% - var(--timeline-height) - var(--timeline-p));
    flex-direction: column-reverse;

    &::before {
      translate: -50% 50%;
    }
  }

  &>.title,
  &>.desc {
    padding: calc(var(--p) * 1.3);
    border-radius: var(--p);
    background: var(--bg-color);
    font-family: var(--inter);
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &>.title {
    min-height: 48px;

    span{
      color: #FFF;
      text-align: center;
      font-size: var(--text-m3);
      font-weight: 600;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 100%;
    }
  }

  &>.desc {
    color: #AFAFAF;
    font-size: var(--text-m1);
    font-weight: 400;
  }

  .image-wrapper {
    padding: var(--p);
    border-radius: var(--p);
    background: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: var(--img-height);

    .image {
      width: 100%;
      height: 100%;
      border-radius: var(--p);
      object-fit: cover;
      margin: 0;
    }
  }
}

@media screen and (max-height: 900px) {
  .point {
    --timeline-p: 8px;
    width: 290px;
  }
}