body {
  background: linear-gradient(180deg, #151515, #0C0C0C);
  height: 100vh;
  overflow: auto hidden;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}