body.create {
  background: linear-gradient(180deg, #151515, #0C0C0C);
  height: 100vh;
  overflow: scroll hidden;
}

#root.create {
  height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: max-content;
}