.tls-list {
  --scroll-w: 8px;
  --scroll-gap: 12px;
  --w: calc(var(--menu-width) - var(--menu-padding) * 2);

  display: flex;
  flex-direction: column;
  align-items: start;
  height: 100%;
  margin: 20px 0;
  gap: 14px;
  overflow: hidden auto;
  width: var(--w);

  &::-webkit-scrollbar {
    width: 12px;
    display: none;
  }

  &::-webkit-scrollbar-track {
    border: 1px solid #222;
    border-radius: 10px;
  }

  &:hover {
    &::-webkit-scrollbar {
      display: block;
    }
  }
}