.mark.editing {
  --bg-light-color: #121212;
  padding: 0 10px;

  * {
    font-family: var(--inter);
  }

  input {
    font-size: var(--text-l);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
    color: #FFF;
    outline: none;
    width: 100%;
    background: var(--bg-light-color);
    border-radius: var(--p);
    padding: 4px 10px;
    text-align: center;

    &::placeholder {
      font-weight: 400;
      font-size: var(--text-m3);
      color: #444;
    }
  }

  --btns-offset: 60px;

  .element-optns-btns {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    display: flex;
    gap: 16px;

    .delete-btn,
    .duplicate-btn {
      --size: 40px;
      transform: translateY(var(--btns-offset));
    }

    .move-arrows {
      position: absolute;
      left: 50%;
      top: 0;
      translate: -50% calc(-1 * var(--btns-offset));
    }
  }
}