* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color-scheme: dark;
}

@keyframes cant-write {
  0% {
    translate: 0px 0px;
  }

  38% {
    translate: 10px 0px;
    color: rgb(255 255 255 / 0.5);
  }

  100% {
    translate: 0px 0px;
  }
}

:root {
  --scroll-bg: #1a1a1c;
  --scroll-thumb: #2c2c2e;
  --scroll-bg-l: #333335;
  --blue: #25179C;

  --inter: Inter, system-ui, Arial, Helvetica, Tahoma, Geneva, Verdana, sans-serif;
  --poppins: Poppins, 'Segoe UI', Arial, Helvetica, Tahoma, Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar {
  height: 10px;
}

::-webkit-scrollbar-track {
  border-top: 1px solid #222;
  background: #111;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb);
  border-radius: 10px;
  border: 3px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scroll-bg-l);
}