* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@keyframes cant-write {
  0% {
    translate: 0px 0px;
  }

  38% {
    translate: 10px 0px;
    color: rgb(255 255 255 / 0.5);
  }

  100% {
    translate: 0px 0px;
  }
}