.not-tl-sign-wrapper {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;

  h2 {
    font-size: var(--text-xl);
    font-family: var(--poppins);
    font-weight: 600;
    color: #eee;
    cursor: default;
    line-height: 52px;
    text-align: center;
  }
}